# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lander Land.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Ferdi\Documents\unity\udemy courses\Complete C# Unity Game Developer 3D\Lander Land\.idea\.idea.Lander Land\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
